/*----- Load Icons -----*/
@import url('https://css.gg/chevron-right.css');

a {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
}

#intro-background {
	position: absolute;
	height: 120vh;
	width: 100%;
	background-image: url("./assets/background/intro-div3.png"), linear-gradient(to bottom right, #0092ff, #0063ed);
	background-size: 100%;
}

nav {
	height: 11%;
}

#nav-bg {
	z-index: -10;
	background-image: url("./assets/background/navbar.png");
	background-size: cover;
}

#nav-bg2 {
	z-index: -9;
	background-image: url("./assets/background/navbar2.png");
	background-size: cover;
}

.nav-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	/* Animation cycle transitions */
	-webkit-transition: opacity 0.15s ease-in-out;
  	-moz-transition: opacity 0.15s ease-in-out;
  	-o-transition: opacity 0.15s ease-in-out;
  	transition: opacity 0.15s ease-in-out;
}

.show-bg {
	opacity: 1 !important;
}

nav > div {
	height: 100%;
}

#heading {
	float: left;
	display: table;
	margin-left: 4%;
	font-size: 2em;
}

#heading > div {
	display: table-cell;
	vertical-align: middle;
}

#navNav {
	padding-left: 15vw;
}

#navigation {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
}

#navigation a {
	text-decoration: none;
	color: white;
	/* Hover animation */
	-webkit-transition: all 0.05s ease-in-out;
  	-moz-transition: all 0.05s ease-in-out;
  	-o-transition: all 0.05s ease-in-out;
  	transition: all 0.05s ease-in-out;
}

#navigation a:hover {
	cursor: pointer;
	font-weight: 1000;
}

.nav-button {
	flex: 1;
}

#wrapper {
	position: relative;
	overflow-x: hidden;
}

#introduction {
	height: 100vh;
	padding-bottom: 40vh;
}

#intro-text {
	height: 100%;
	width: 41%;
	font-size: 1.1em;
	text-align: left;
	float: right;
	padding-top: 15%;
	padding-right: 2%;
	position: relative;
}

#intro-text-head {
	font-size: 1.8em;
}

#intro-text-mission {
	font-size: 1.5em;
}

.show > #navigation, .collapsing > #navigation {
	height: auto;
	background-image: linear-gradient(to bottom right, #0092ff, #0063ed);
	background-size: cover;
	padding-bottom: 20%;
	border-width: 1px;
	border-top-style: none;
	border-radius: 0px 0px 8px 8px;
}

#view-work-btn {
	min-width: 16vw;
}

#advisory {
	margin: auto;
	font-size: 0.8em;
	margin-top: 20%;
}

.btn-1 {
	border-radius: 0px;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 4%;
}

.btn-1:hover {
	background: none;
	color: white !important;
}

.btn-1:focus, .btn-1:active {
	box-shadow: none;
}

button a {
	color: white !important;
	text-decoration: none !important;
}

.gg-chevron-right {
	display: inline-block;
	vertical-align: middle;
	width: 14%;
	/* Animation cycle transitions */
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

#main-content {
	width: 100%;
	margin: auto;
	text-align: center;
	background-image: linear-gradient(to bottom right, #0092ff, #0063ed);
}

#technologies {
	background-image: url('./assets/background/div_background4.png'), linear-gradient(to bottom right, #0092ff, #0063ed) !important;
	background-size: 100%;
}

#tech-head {
	padding-top: 15vh;
	font-size: 1.9em;
	width: 95%;
	margin: 0 auto 15vh auto;
}

#tech-body {
	margin: auto 10% auto 10%;
}

.card-row {
	height: 25%;
	width: 100%;
	margin-top: 5%;
	display: flex;
}

.card-row > div {
	flex: 1;
}

.card-row > div:nth-child(n+2) {
	margin-left: 5%;
}

.card-shell {
	border-radius: 7px;
	padding: 1% 1% 1% 1%;
	background-color: #e8e8e8;
	/* Animation cycle transitions */
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.card-content {
	text-align: center;
	margin: auto;
	width: 100%;
}

#projects .card-content {
	margin: 0;
}

.card-content-image {
	height: 60%;
	display: flex;
	align-items: center;
}

.card-content-image > img {
	margin: auto;
	vertical-align: middle;
	max-height: 100%;
	max-width: 60%
}

.card-content-desc {
	font-size: 1.15vw;
	margin-top: 10%;
	color: black;
}

.card-content-desc hr {
	width: 85%;
}

.small-lh {
	line-height: 0.2em;
}

#tech-footer {
	height: 15vh;
	width: 100%;
	margin: 25vh auto 0 auto;
	position: relative;
}

.custom-shape-divider-bottom-1595233894 {
	height: 100%;
	width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1595233894 svg {
	height: 100%;
	width: calc(300% + 1.3px);
    position: relative;
    display: block;
}

.custom-shape-divider-bottom-1595233894 .shape-fill {
    fill: #FFFFFF;
}

#timeline {
	width: 100%;
}

#timeline-container {
	color: black;
	padding-top: 10vh;
	background-color: white;
	background-size: 100%;
}

#timeline-container > div {
	background-color: white;
}

#timeline-head {
	font-size: 1.9em;
	font-weight: 800;
	width: 65%;
	margin: auto;
}

#timeline-summary {
	width: 65%;
	margin: auto;
	padding: 3% 8% 5% 8%;
	font-size: 1.25em;
}

#timeline-body > img {
	width: 100%;
}

#showcase-top-divider {
	height: 15vh;
	width: 100%;
	margin-top: 0% !important;
	position: relative;
}

.custom-shape-divider-bottom-1595234342 {
	height: 100%;
	width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1595234342 svg {
	height: 100%;
	width: calc(122% + 1.3px);
    position: relative;
    display: block;
}

.custom-shape-divider-bottom-1595234342 .shape-fill {
    fill: #FFFFFF;
}

#showcase > div {
	margin: auto;
}

#events > a {
	font-size: 1.8em;
}

#tourney {
	height: 40vh;
	width: 80%;
	margin: auto;
}

#tourney > div {
	min-height: 100%;
}

#projects > a {
	font-size: 1.8em;
}

#projects .card-shell .card-content .btn {
	font-size: 2.2vw;
	margin-top: 7%;
	margin-bottom: 7%;
	border-color: black;
	color: black;
	display: none;
}

#proj-content {
	width: 65%;
	margin: auto;
}

#proj-content .card-content-image {
	height: 18vh;
}

.card-img-large > img {
	width: 75%;
}

.card-highlight {
	background-color: #f0e005;
	border: none;
}

.card-highlight > div > div {
	color: white;
	font-weight: 800;
}

.rounded-img > img {
	border-radius: 50%;
	width: 60%;
}

#projects .card-shell {
	display: grid;
	cursor: pointer;
}

#projects .card-shell > * {
	grid-column: 1 / 1;
  	grid-row: 1 / 1;
  	/* Animation cycle transitions */
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.card-blur > * {
	filter: blur(5px);
}

.card-blur .card-overlay {
	filter: blur(0);
}

#projects .card-content {
	z-index: 2;
}

.card-overlay {
	font-size: 1vw;
	justify-content: center;
	align-items: center;
	display: none;
	z-index: 5;
}

.card-overlay button {
	font-size: 1vw;
	margin-top: 2vh;
	width: 80%;
}

#projects .gg-chevron-right {
	margin-left: 5%;
}

#projects .card-shell .card-content .btn {
	display: none;
}

#showcase .card-row {
	height: 28vh;
}

#showcase > div {
	margin-top: 25vh;
}

.github-button {
	margin: 7% auto auto auto;
	text-align: center;
}

.github-button .btn {
	padding-top: 1%;
	padding-bottom: 1%;
	cursor: pointer;
    vertical-align: middle;
}

.github-button .btn:focus, .btn:active {
	box-shadow: none;
}

.github-button .btn a {
	color: white;
	font-size: 1.2em;
	text-decoration: none !important;
}

.github-btn-img {
	margin-left: 3%;
}

#certificates {
	width: 85%;
}

#cert-header, #teste-header {
	padding-bottom: 4%;
	font-size: 1.8em;
}

#cert-header > a:nth-child(n+2) {
	font-size: 0.5em;
}

.cert-row {
	width: 95%;
	margin: auto;
	display: flex;
}

.cert-row > div:nth-child(-n + 2) {
	margin-right: 4%;
}

.cert-shell {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.cert-item {
	border: solid black 1px;
}

.cert-item > img {
	width: 100%;
}

#certificate-modal .modal-dialog {
	max-height: 80%;
	max-width: 50%;
}

#certificates > hr {
	background-color: white;
}

.modal-body {
	padding: 0;
}

.modal-body > img {
	width: 100%;
	border-radius: 0.3rem;
}

.modal-open{
  	padding-right: 0 !important;
  	overflow-y: scroll;
}

#teste-body {
	padding-bottom: 15vh;
}

#testimonials {
	margin-top: 25vh;
}

.carousel-indicators > li {
	height: 10px;
	width: 10px;
  	border-radius: 50%;
}

.carousel-item {
	height: auto;
}

.d-block {
	width: 80%;
	padding: 0% 10% 10% 10%;
	text-align: left;
	display: flex !important;
	align-items: center;
	font-size: 0.8em;
}

.carousel-caption {
	float: right;
	left: auto;
}

.teste {
	cursor: pointer;
}

.teste-text {
	display: inline-block;
}

.teste-img {
	display: none;
}

#teste-modal .modal-dialog {
	max-height: 80%;
	max-width: 32%;
}

#teste-footer {
	height: 10vh;
	position: relative;
}

.custom-shape-divider-bottom-1595149638 {
	height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1595149638 svg {
    position: relative;
    display: block;
    width: calc(141% + 1.3px);
    height: 100%;
}

.custom-shape-divider-bottom-1595149638 .shape-fill {
    fill: #273036;
}

#footer {
	height: auto;
	background-color: #273036;
}

#footer-content {
	padding: 10vh 5vw 10vh 5vw;
	display: flex;
}

#footer-content > div {
	flex: 1;
}

#footer-content a {
	color: white;
	text-decoration: none;
}

#contacts {
	width: 22vw;
	float: left;
}

#contacts-header {
	text-align: center;
}

.contact-item {
	margin: auto;
	margin-top: 2%;
	padding-left: 3vw;
}

.contact-item a:hover {
	font-weight: 600;
	cursor: pointer;
}

.contact-img {
	max-width: 5%;
	margin-right: 2%;
}

#footer-content hr {
	background-color: white;
	width: 80%;
	margin-top: 3%;
	margin-bottom: 1%;
}

#footer .github-button {
	margin-top: 0%;
	margin-bottom: 0%;
	display: flex;
  	justify-content: center;
  	align-items: center; 
}

#footer .github {
	padding-top: 3%;
	padding-bottom: 3%;
}

#footer-nav {
	color: white;
	width: 22vw;
	float: right;
	text-align: center;
}

#footer-nav-body {
	width: 95%;
	margin: auto;
}

.nav-column {
	width: 48%;
}

.foot-nav-item {
	margin-top: 4%;
	text-align: left;
	font-size: 0.8vw;
}

.foot-nav-item > a:hover {
	cursor: pointer;
}

.nav-item:hover {
	cursor: pointer;
}

/* Responsive behaviour */

@media only screen and (max-width: 768px) {
	body {
		background-color: black;
		background-size: 100%;
	}

	#navigation {
		width: auto;
	}

	#intro-background {
		background-image: linear-gradient(to bottom right, #0092ff, #00bbff);
	}

	#introduction {
		height: 85vh;
		margin-top: 25%;
		display: flex;
		justify-content: center;
		align-content: center;
	}

	#intro-text {
		width: 80%;
		margin: auto;
		font-size: 0.8em;
		text-align: center;
		float: none;
	}

	#main-content {
		padding-top: 0;
		background-image: linear-gradient(to bottom right, #0092ff, #00bbff);
	}

	#view-work .btn {
		width: 80%;
		padding-top: 1%;
		padding-bottom: 1%;
		margin-top: 8%;
	}

	#tech-head {
		padding-top: 15vh;
		margin-bottom: 8vh;
		font-size: 1.3em;
	}

	#tech-body {
		padding-top: 7%;
	}

	#tech-body > div:not(:first-child) {
		margin-top: 10%;
	}

	.card-row {
		width: 90%;
		margin-top: 0;
		height: auto !important;
		display: inline-block;
	}

	.card-row > div:nth-child(n+2) {
		margin-left: 0;
	}

	#tech-body .card-row > div {
		height: 30vw;
		width: 30vw;
		display: flex;
    	align-items: center;
	}

	#showcase-top-divider {
		height: 5vh;
	}

	#showcase .card-row > div {
		height: 60vw;
		width: 60vw;
		display: flex;
    	align-items: center;
    	margin: auto;
	}

	#projects .card-row > div {
		height: 50vw;
		width: 38vw;
	}

	#tech-body .card-row > div:nth-child(5) {
		display: none;
	}

	#tech-body .card-row > div:nth-child(n+3) {
		margin-top: 10%;
	}

	#tech-body .card-row > div:nth-child(odd) {
		float: left;
	}

	#tech-body .card-row > div:nth-child(even) {
		float: right;
	}

	.card-shell {
		flex: 0;
	}

	.card-content-image {
		min-height: 30%;
		height: auto;
	}

	.card-content-desc {
		font-size: 2.8vw;
	}

	#tech-footer {
		height: 10vh;
	}

	#tech-footer, #timeline-head, #timeline-summary {
		width: 100%;
	}

	#timeline-summary {
		font-size: 2.8vw;
	}

	#projects .card-content-desc {
		font-size: 2.2vw;
	}

	#tourney {
		height: auto;
	}

	#showcase .card-row > div:nth-child(n+1) {
		margin-top: 10%;
	}

	#events > a, #projects > a, #cert-header, #teste-header {
		font-size: 1.5em;
	}

	#proj-content {
		width: 90%;
	}

	#projects .card-row > div:nth-child(odd) {
		float: left;
	}

	#projects .card-row > div:nth-child(even) {
		float: right;
	}

	#projects .card-shell .card-content .btn {
		display: inline-block;
	}

	.card-highlight > div > div {
		color: black;
		font-weight: 400;
	}

	.github-button {
		padding-top: 12%;
	}

	#certificates .cert-row {
		display: block;
		width: auto !important;
	}

	#certificates .cert-shell {
		margin-right: 0%;
	}

	#certificates .cert-row > div:nth-child(n+1) {
		margin-top: 8%;
	}

	.modal-dialog {
		max-width: 100% !important;
		padding: 5% 5% 0% 5%;
		margin: auto;
	}

	#testimonials {
		margin-top: 15%;
	}

	.carousel-indicators > li {
		height: 5px;
		width: 5px;
	  	border-radius: 50%;
	}

	.d-block {
		font-size: 2vw;
	}

	.teste-text {
		display: none;
	}

	.teste-img {
		width: 100%;
		display: inline-block;
	}

	#contacts {
		width: 100%;
	}

	.contact-item {
		padding-left: 20vw;
	}

	#footer .github-button, #misc {
		display: none;
	}

}

@media only screen and (min-width: 1024px) {
	body {
		background-size: cover;
	}

	#intro-showcase {
		display: flex;
	}

	#intro-showcase > div:nth-child(2) {
		margin-left: 5%;
	}

	.showcase {
		flex: 1;
	}
}