/*----- Load Icons -----*/
@import url('https://css.gg/chevron-right.css');

a {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
	background: url("./assets/background/wavy_background2.png") no-repeat;
	background-size: 100%;
}

nav {
	height: 11%;
	width: 100%;
}

#nav-bg {
	z-index: -10;
	background-image: url("./assets/background/navbar.png");
	background-size: cover;
}

#nav-bg2 {
	z-index: -9;
	background-image: url("./assets/background/navbar2.png");
	background-size: cover;
}

.nav-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	/* Animation cycle transitions */
	-webkit-transition: opacity 0.15s ease-in-out;
  	-moz-transition: opacity 0.15s ease-in-out;
  	-o-transition: opacity 0.15s ease-in-out;
  	transition: opacity 0.15s ease-in-out;
}

.show-bg {
	opacity: 1 !important;
}

nav > div {
	height: 100%;
}

#heading {
	width: 30%;
	float: left;
	display: table;
	margin-left: 4%;
	font-size: 2em;
}

#heading > div {
	display: table-cell;
	vertical-align: middle;
}

#navigation {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
}

.nav-button {
	flex: 1;
}

#introduction {
	width: 70%;
	height: 80%;
	margin: auto;
}

#intro-text {
	width: 80%;
	font-size: 1.1em;
	text-align: center;
	margin: auto;
	padding-top: 5%;
}

#intro-text-head {
	font-size: 1.8em;
}

#intro-text-mission {
	font-size: 1.5em;
}

#intro-showcase {
	height: 50%;
	width: 80%;
	margin: auto;
	align-items: center;
}

.showcase {
	height: 65%;
	background-size: cover;
}

.show > #navigation, .collapsing > #navigation {
	background: url("./assets/background/wavy_background.png") no-repeat fixed;
	background-size: cover;
	padding-bottom: 23%;
	border-width: 1px;
	border-color: #b91ac4;
	border-style: solid;
	border-top-style: none;
	border-radius: 0px 0px 8px 8px;
}

.btn {
	border-radius: 0px;
	width: 25%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 4%;
	color: white !important;
}

.btn:hover {
	background: none;
}

.btn:focus, .btn:active {
	box-shadow: none;
}

.gg-chevron-right {
	display: inline-block;
	vertical-align: middle;
	/* Animation cycle transitions */
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

#main-content {
	padding-top: 20%;
	width: 90%;
	margin: auto;
	text-align: center;
}

#tech-head {
	font-size: 1.8em;
}

#tech-body {
	width: 90%;
	margin: auto;
}

.tech-row {
	height: 30%;
	margin-top: 5%;
	display: flex;
}

.tech-row > div:nth-child(n+2) {
	margin-left: 5%;
}

.tech-item {
	flex: 1;
	border: 1px solid #dbdbdb;
	border-radius: 7px;
	padding: 1% 1% 1% 1%;
	background-color: #e8e8e8;
}

.tech-content {
	text-align: center;
}

.tech-content-image {
	height: 60%;
	display: flex;
	align-items: center;
}

.tech-content-image > img {
	margin: auto;
	vertical-align: middle;
	max-height: 100%;
	width: 60%
}

.tech-content-desc {
	margin-top: 10%;
	color: black !important;
}

/* Responsive behaviour */

@media only screen and (max-width: 768px) {
	body {
		background-size: cover;
	}

	#introduction {
		width: 95%;
		margin-top: 10%;
	}

	#intro-text {
		margin-top: 35%;
		font-size: 0.8em;
		padding-top: 0;
	}

	#intro-showcase {
		width: 90%;
	}

	#intro-showcase > div:nth-child(2) {
		margin-top: 5%;
	}

	.btn {
		width: 80%;
		padding-top: 1%;
		padding-bottom: 1%;
		margin-top: 8%;
	}

	#main-content {
		padding-top: 30%;
	}

	#tech-head {
		font-size: 1.2em;
	}

	.tech-row {
		display: inline-block;
		height: 150%;
	}

	.tech-row > div:nth-child(n+2) {
		margin-left: 0;
	}

	.tech-item {
		flex: 0;
		height: 20%;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		background-size: cover;
	}

	#intro-showcase {
		display: flex;
	}

	#intro-showcase > div:nth-child(2) {
		margin-left: 5%;
	}

	.showcase {
		flex: 1;
	}
}