
a {
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
	background-image: linear-gradient(to bottom right, #0092ff, #00b7ff);
}

nav {
	height: 11%;
}

#nav-bg {
	z-index: -10;
	background-image: linear-gradient(to bottom right, #0092ff, #00aaed);
}

.nav-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	/* Animation cycle transitions */
	-webkit-transition: opacity 0.15s ease-in-out;
  	-moz-transition: opacity 0.15s ease-in-out;
  	-o-transition: opacity 0.15s ease-in-out;
  	transition: opacity 0.15s ease-in-out;
}

.show-bg {
	opacity: 1 !important;
}

nav > div {
	height: 100%;
}

#heading {
	float: left;
	display: table;
	margin-left: 4%;
	font-size: 2em;
}

#heading > div {
	display: table-cell;
	vertical-align: middle;
}

#navNav {
	padding-left: 15vw;
}

#navigation {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
}

#navigation a {
	text-decoration: none;
	color: white;
	/* Hover animation */
	-webkit-transition: all 0.05s ease-in-out;
  	-moz-transition: all 0.05s ease-in-out;
  	-o-transition: all 0.05s ease-in-out;
  	transition: all 0.05s ease-in-out;
}

#navigation a:hover {
	cursor: pointer;
	font-weight: 1000;
}

.nav-button {
	flex: 1;
}

#showcase-container {
	margin: auto;
	color: white;
}

.modal-dialog {
	max-width: 60%;
}

.modal-content {
	background-color: #a6a6a6;
}

.modal-body {
	padding: 0;
}

.modal-body > img {
	width: 100%;
	border-radius: 0.3rem;
}

.modal-open{
  	padding-right: 0 !important;
  	overflow-y: scroll;
}

#showcase-carousel {
	width: 35%;
	margin: auto;
	margin-top: 2%;
	text-align: center;
}

#carousel-inner {
	padding: 15% !important;
}

.d-block {
	cursor: pointer;
}

#showcase-about {
	width: 58%;
	margin: auto;
	margin-top: 2%;
	text-align: center;
	font-size: 1.1em;
}

#wip {
	margin-top: 2%;
	display: inline-block;
}

#github {
	margin: 2% auto auto auto;
	text-align: center;
}

.btn {
	padding-top: 1%;
	padding-bottom: 1%;
	cursor: pointer;
    vertical-align: middle;
}

.btn:focus, .btn:active {
	box-shadow: none;
}

.btn a {
	color: white;
	text-decoration: none !important;
}

.github-btn-img {
	margin-left: 3%;
}

#showcase-desc {
	height: 100%;
	width: 95%;
	margin: auto;
	margin-top: 5%;
	display: flex;
}

#showcase-desc > div {
	flex: 1;
	font-size: 1.2em;
}

#tech-head {
	font-size: 1.4em;
	text-align: center;
}

#tech-list {
	height: 50vh;
	margin: auto;
	margin-top: 5%;
}

#tech-list > div {
	width: 94%;
	margin: auto;
}

.tech-item {
	border: 1px white solid;
	border-radius: 5px;
}

.tech-item {
	margin-top: 2%;
}

.tech-item > div {
	height: 36%;
	padding: 1%;
	display: flex;
  	justify-content: center;
 	align-content: center;
  	flex-direction: column;
}

.tech-item-img {
	width: 18%;
	margin-right: 3%;
	background-color: white;
	float: left;
  	text-align: center;
  	border-radius: 5px 0px 0px 5px;
}

.tech-item-img > div > img {
	width: 80%;
	margin: auto;
}

.tech-item-head {
	font-size: 1.6vw;
	font-weight: 600;
}

.tech-item-desc {
	margin-top: 0.1vw;
	font-size: 1vw;
}

/* Responsive behaviour */

@media only screen and (max-width: 768px) {
	.modal-dialog {
		max-width: 100%;
	}
	
	#showcase-carousel {
		width: 95%;
		margin-top: 10%;
	}

	#showcase-about {
		width: 85%;
		margin-top: 10%;
	}

	#wip {
		margin-top: 5%;
	}

	#github {
		margin: 10% auto auto auto;
	}

	.btn {
		padding-top: 2.5%;
		padding-bottom: 2.5%;
	}

	#showcase-desc {
		height: auto;
		margin-top: 30%;
		display: block;
	}

	#tech-list {
		height: auto;
		width: 100%;
		margin-top: 10%;
	}

	#tech-list > div {
		width: 92%;
		margin: auto;
	}

	.tech-item > div {
		height: 16vh;
	}

	.tech-item {
		margin-top: 3vh;
	}

	.tech-item-img {
		width: 24vw;
	}

	.tech-item-head {
		font-size: 1.1em;
	}

	.tech-item-desc {
		font-size: 0.5em;
	}

	#features {
		margin-top: 30%;
		padding-bottom: 10%;
	}

}

